.jumbotron {
background-color: rgb(253, 215, 0);
color: black;
margin-top: 5px;

}


footer {
padding: 10px 10px 0 10px;
background-color: rgb(253, 215, 0);
margin-bottom: 0px;
margin-top: 10px;

}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
   
}

.footer-address-icon {
    padding-right: 10px;

}

.tab-content {

    padding-top: 10px;

}


